@model List<AppUser>;
@{
    ViewData["Title"] = "Orthopedagogen";
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Voornaam</th>
                        <th>Tussenvoegsel</th>
                        <th>Achternaam</th>
                        <th>Email</th>
                        <th>Telefoonnummer</th>
                        <th>Onderwerp</th>
                    </tr>
                </thead>
                <tbody>
                    @* @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FirstName</td>
                            <td>@item.Infix</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Subject</td>
                        </tr>
                    } *@
                </tbody>
            </table>
        </div>
    </div>
</div>
