@using Wdpr_Groep_E.Models
@inject SignInManager<AppUser> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Mijn profiel</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">E-mail beheer</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Wachtwoord veranderen</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Persoonlijke data</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PaymentNavClass(ViewContext)" id="payment" asp-page="./Payment">Betaalgegevens</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.BSNNavClass(ViewContext)" id="bsn" asp-page="./BSN">BSN</a></li>
</ul>
