@model IEnumerable<Chat>
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

@{
    if (User.IsInRole("Moderator"))
    {
        ViewData["Title"] = "Zelfhulpgroepen beheren";
    }
    else
    {
        ViewData["Title"] = "Beschikbare zelfhulpgroepen";
    }
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
        @if (User.IsInRole("Orthopedagoog"))
        {
            <div class="col-auto">
                <div class="mb-3">
                    <button class="btn btn-info lg-btn" type="button" data-toggle="modal" data-target="#NewRoom">Nieuwe zelfhulpgroep</button>
                </div>
            </div>
            <div class="col-auto">
                <div class="mb-3">
                    <button class="btn btn-primary lg-btn" type="button" data-toggle="modal" data-target="#NewPrivateRoom">Nieuwe privéchat</button>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Chatnaam</th>
                        <th>Onderwerp</th>
                        <th>Deelnemers</th>
                        <th>Leeftijdscategorie</th>
                        @if (User.IsInRole("Tiener") || User.IsInRole("Kind"))
                        {
                            <th>Deelnemen</th>
                        }
                        @if (User.IsInRole("Moderator"))
                        {
                            <th>Gebruikers</th>
                            <th>Verwijder</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var chat in Model)
                    {
                        <tr>
                            <td>@chat.Name</td>
                            <td>@chat.Subject</td>
                            <td>@chat.Users.Count()</td>
                            <td>@chat.AgeGroup</td>
                            @if (User.IsInRole("Tiener") || User.IsInRole("Kind"))
                            {
                                <td class="text-center">
                                    <form asp-controller="ChatSystem" asp-action="JoinChat" asp-route-id="@chat.Id" method="get">
                                        <button class="btn btn-sm btn-primary">Deelnemen</button>
                                    </form>
                                </td>
                            }
                            @if (User.IsInRole("Moderator"))
                            {
                                <td class="text-center">
                                    <form asp-controller="ChatSystem" asp-action="Users" asp-route-id="@chat.Id">
                                        <button class="btn btn-sm btn-info">Gebruikers</button>
                                    </form>
                                </td>
                                <td class="text-center">
                                    <form asp-controller="ChatSystem" asp-action="DeleteChat" asp-route-id="@chat.Id">
                                        <button class="btn btn-sm btn-danger">Verwijder</button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="../Shared/Modals/CreateRoomModal" />
<partial name="../Shared/Modals/CreatePrivateRoomModal" />
