@model IEnumerable<Report>;
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Reports inzien";
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <section>
                <form asp-controller="Report" asp-action="Index" method="get">
                    <label for="search">Zoeken:</label>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <input class="form-control" id="search" name="search" value='@ViewData["search"]' placeholder="Zoeken" />
                            </div>
                        </div>
                        <div class="col-12 col-md-auto">
                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-primary message-btn" value="Zoeken" />
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered mt-3">
                <thead>
                    <tr>
                        <th>
                            <div class="row m-0">
                                <div class="col p-0">Gebruiker</div>
                                <div class="col-auto manage-sort text-right p-0">
                                    @if ((string)ViewData["sort"] == "gebruiker_oplopend")
                                    {
                                        <a asp-action="Index" asp-route-sort="gebruiker_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer gebruiker aflopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index" asp-route-sort="gebruiker_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer gebruiker oplopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </th>
                        <th>Bericht</th>
                        <th>
                            <div class="row m-0">
                                <div class="col p-0">Datum</div>
                                <div class="col-auto manage-sort text-right p-0">
                                    @if ((string)ViewData["sort"] == "datum_oplopend")
                                    {
                                        <a asp-action="Index" asp-route-sort="datum_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer datum aflopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index" asp-route-sort="datum_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer datum oplopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </th>
                        <th>Blokkeer</th>
                        <th>Verwijder</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() != 0)
                    {
                        @foreach (var report in Model)
                        {
                            <tr>
                                <td>@Html.DisplayName(report.Name)</td>
                                <td>@Html.DisplayName(report.Text)</td>
                                <td>@report.Date.ToString("dd/MM/yyyy")</td>
                                <td class="text-center shrink">
                                    <form method="post" asp-controller="Report" asp-action="BlockReportedUser" asp-route-id='@UserManager.Users.SingleOrDefault(u => u.UserName == report.Name).Id'>
                                        <input type="hidden" name="report" value="@report.Id" />
                                        <input type="hidden" name="chat" value="@report.ChatId" />
                                        <button class="btn btn-sm btn-danger">Blokkeer</button>
                                    </form>
                                </td>
                                <td class="text-center shrink">
                                    <form method="post" asp-controller="Report" asp-action="RemoveReport" asp-route-id="@report.Id">
                                        <button class="btn btn-sm btn-danger">Verwijder</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="100%">Geen reports gevonden!</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="row manage-options">
        @if ((int)ViewData["size"] != 10)
        {
            <div class="col-1 d-flex justify-content-center">
                <a asp-action="Index" asp-route-page='1' asp-route-size='10' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>10</a>
            </div>
        }
        @if ((int)ViewData["size"] == 10)
        {
            <div class="col-1 d-flex justify-content-center">
                <a style="opacity: .5; pointer-events: none;" asp-action="Index" asp-route-page='1' asp-route-size='10' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>10</a>
            </div>
        }
        @if ((int)ViewData["size"] != 25)
        {
            <div class="col-1 d-flex justify-content-center">
                <a asp-action="Index" asp-route-page='1' asp-route-size='25' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>25</a>
            </div>
        }
        @if ((int)ViewData["size"] == 25)
        {
            <div class="col-1 d-flex justify-content-center">
                <a style="opacity: .5; pointer-events: none;" asp-action="Index" asp-route-page='1' asp-route-size='25' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>25</a>
            </div>
        }
        @if ((int)ViewData["size"] != 50)
        {
            <div class="col-1 d-flex justify-content-center">
                <a asp-action="Index" asp-route-page='1' asp-route-size='50' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>50</a>
            </div>
        }
        @if ((int)ViewData["size"] == 50)
        {
            <div class="col-1 d-flex justify-content-center">
                <a style="opacity: .5; pointer-events: none;" asp-action="Index" asp-route-page='1' asp-route-size='50' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>50</a>
            </div>
        }
        <div class="col-5"></div>
        <div class="col-2 d-flex justify-content-center">
            @if ((bool)ViewData["previous"])
            {
                <a asp-action="Index" asp-route-page='@((int)ViewData["page"] - 1)' asp-route-size='@ViewData["size"]' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>← Terug</a>
            }
        </div>
        <div class="col-2 d-flex justify-content-center">
            @if ((bool)ViewData["next"])
            {
                <a asp-action="Index" asp-route-page='@((int)ViewData["page"] + 1)' asp-route-size='@ViewData["size"]' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>Volgende →</a>
            }
        </div>
    </div>
</div>
