@model List<UserRoleViewModel>;
@{
    ViewData["Title"] = "Gebruikers beheren";
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Gebruikersnaam</th>
                        <th>Email</th>
                        <th>Kinderen</th>
                        <th>Rol</th>
                        <th>Orthopedagoog</th>
                        <th>Update</th>
                        <th>Verwijder</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            
                            @if (user.Children.Count > 0)
                            {
                                @foreach (var child in user?.Children)
                                {
                                    <td>
                                        <div class="p-0">Gebruikersnaam: @child.UserName</div>
                                        <div class="p-0">Naam: @child.FirstName @child.Infix @child.LastName</div>
                                        <div class="p-0">Leeftijd: @(DateTime.Now.Year - child.BirthDate.Year)</div>
                                    </td>
                                }
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@string.Join(" ", user.Roles.ToList())
                            <td class="text-center"><a class="btn btn-sm btn-primary">Aanpassen</td>
                            <form method="post" asp-controller="UserSystem" asp-action="DeleteUser" asp-route-id="@user.UserId">
                                <td class="text-center"><button class="btn btn-sm btn-danger">Verwijder</button></td>
                            </form>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
