@model List<UserRoleViewModel>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Gebruikers beheren";
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <section>
                <form asp-controller="UserSystem" asp-action="Index" method="get">
                    <label for="search">Zoeken:</label>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <input class="form-control" id="search" name="search" value='@ViewData["search"]' placeholder="Zoeken" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-auto">
                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-primary message-btn" value="Zoeken" />
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            <div class="row m-0">
                                <div class="col p-0">Gebruikersnaam</div>
                                <div class="col-auto manage-sort text-right p-0">
                                    @if ((string)ViewData["sort"] == "gebruiker_oplopend")
                                    {
                                        <a asp-action="Index" asp-route-sort="gebruiker_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer gebruiker aflopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index" asp-route-sort="gebruiker_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer gebruiker oplopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row m-0">
                                <div class="col p-0">Emailadres</div>
                                <div class="col-auto manage-sort text-right p-0">
                                    @if ((string)ViewData["sort"] == "email_oplopend")
                                    {
                                        <a asp-action="Index" asp-route-sort="email_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer email aflopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index" asp-route-sort="email_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer email oplopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </th>
                        <th>Kinderen
                            @* <div class="row m-0">
                                <div class="col p-0">Kinderen</div>
                                <div class="col-auto manage-sort text-right p-0">
                                @if ((string)ViewData["sort"] == "kind_oplopend")
                                {
                                <a asp-action="Index" asp-route-sort="kind_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer kind aflopend">
                                <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                </a>
                                }
                                else
                                {
                                <a asp-action="Index" asp-route-sort="kind_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer kind oplopend">
                                <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                </a>
                                }
                                </div>
                                </div> *@
                        </th>
                        <th>
                            <div class="row m-0">
                                <div class="col p-0">Rol</div>
                                <div class="col-auto manage-sort text-right p-0">
                                    @if ((string)ViewData["sort"] == "rol_oplopend")
                                    {
                                        <a asp-action="Index" asp-route-sort="rol_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer rol aflopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index" asp-route-sort="rol_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer rol oplopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row m-0">
                                <div class="col p-0">Orthopedagoog</div>
                                <div class="col-auto manage-sort text-right p-0">
                                    @if ((string)ViewData["sort"] == "ortho_oplopend")
                                    {
                                        <a asp-action="Index" asp-route-sort="ortho_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer orthopedagoog aflopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index" asp-route-sort="ortho_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer orthopedagoog oplopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </th>
                        @* <th>Update</th> *@
                        <th>Verwijder</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        @if (!(user.UserId == User.FindFirst(ClaimTypes.NameIdentifier).Value))
                        {
                            <tr>
                                <td>@Html.DisplayName(user.UserName)</td>
                                <td>@user.Email</td>

                                @if (user.Children.Count > 0)
                                {
                                    @foreach (var child in user?.Children)
                                    {
                                        <td>
                                            <div class="p-0">Gebruikersnaam: @Html.DisplayName(child.UserName)</div>
                                            <div class="p-0">Naam: @Html.DisplayName(string.Join(" ", child.FirstName, child.Infix, child.LastName))</div>
                                            <div class="p-0">Leeftijd: @(DateTime.Now.Year - child.BirthDate.Year)</div>
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@Html.DisplayName(string.Join(" ", user.Roles.ToList()))</td>
                                <td>@Html.DisplayName(user.CaregiverUserName)</td>
                                @* <td class="text-center shrink"><a class="btn btn-sm btn-primary">Aanpassen</td> *@
                                <td class="text-center shrink">
                                    <form method="post" asp-controller="UserSystem" asp-action="DeleteUser" asp-route-id="@user.UserId">
                                        <button class="btn btn-sm btn-danger">Verwijder</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row manage-options">
        @if ((int)ViewData["size"] != 10)
        {
            <div class="col-1 d-flex justify-content-center">
                <a asp-action="Index" asp-route-page='1' asp-route-size='10' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>10</a>
            </div>
        }
        @if ((int)ViewData["size"] == 10)
        {
            <div class="col-1 d-flex justify-content-center">
                <a style="opacity: .5; pointer-events: none;" asp-action="Index" asp-route-page='1' asp-route-size='10' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>10</a>
            </div>
        }
        @if ((int)ViewData["size"] != 25)
        {
            <div class="col-1 d-flex justify-content-center">
                <a asp-action="Index" asp-route-page='1' asp-route-size='25' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>25</a>
            </div>
        }
        @if ((int)ViewData["size"] == 25)
        {
            <div class="col-1 d-flex justify-content-center">
                <a style="opacity: .5; pointer-events: none;" asp-action="Index" asp-route-page='1' asp-route-size='25' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>25</a>
            </div>
        }
        @if ((int)ViewData["size"] != 50)
        {
            <div class="col-1 d-flex justify-content-center">
                <a asp-action="Index" asp-route-page='1' asp-route-size='50' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>50</a>
            </div>
        }
        @if ((int)ViewData["size"] == 50)
        {
            <div class="col-1 d-flex justify-content-center">
                <a style="opacity: .5; pointer-events: none;" asp-action="Index" asp-route-page='1' asp-route-size='50' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>50</a>
            </div>
        }
        <div class="col-5"></div>
        <div class="col-2 d-flex justify-content-center">
            @if ((bool)ViewData["previous"])
            {
                <a asp-action="Index" asp-route-page='@((int)ViewData["page"] - 1)' asp-route-size='@ViewData["size"]' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>← Terug</a>
            }
        </div>
        <div class="col-2 d-flex justify-content-center">
            @if ((bool)ViewData["next"])
            {
                <a asp-action="Index" asp-route-page='@((int)ViewData["page"] + 1)' asp-route-size='@ViewData["size"]' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>Volgende →</a>
            }
        </div>
    </div>
</div>
