@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model List<Wdpr_Groep_E.Models.SignUp>;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Gebruikers beheren";
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>Gebruiker aanmeldingen</h1>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Voornaam</th>
                        <th>Tussenvoegsel</th>
                        <th>Achternaam</th>
                        <th>Email</th>
                        <th>Telefoonnummer</th>
                        <th>Onderwerp</th>
                        <th>Bericht</th>
                        <th>Aanmelding</th>
                    </tr>
                </thead>
                <tbody>
                    @if (UserManager.GetUserAsync(User).Result.Subject == "ADD")
                    {
                        @foreach (var signup in Model)
                        {
                            @if (@signup.Subject == "ADD")
                            {
                                <tr>
                                    <td>@signup.FirstName</td>
                                    <td>@signup.Infix</td>
                                    <td>@signup.LastName</td>
                                    <td>@signup.Email</td>
                                    <td>@signup.PhoneNumber</td>
                                    <td>@signup.Subject</td>
                                    <td>@signup.Message</td>

                                    @if (signup.Children.SingleOrDefault() == null)
                                    {
                                        <form method="post" asp-controller="SignUp" asp-action="AcceptSignUp">
                                            <td class="text-center"><button class="btn btn-sm btn-success">Accepteren</button></td>
                                            <input type="hidden" name="UserName" value="@signup.UserName"></input>
                                            <input type="hidden" name="FirstName" value="@signup.FirstName"></input>
                                            <input type="hidden" name="LastName" value="@signup.LastName"></input>
                                            <input type="hidden" name="BirthDate" value="@signup.BirthDate"></input>
                                            <input type="hidden" name="PhoneNumber" value="@signup.PhoneNumber"></input>
                                            <input type="hidden" name="Infix" value="@signup.Infix"></input>
                                            <input type="hidden" name="Email" value="@signup.Email">
                                            <input type="hidden" name="Id" value="@signup.Id">
                                            <input type="hidden" name="Subject" value="@signup.Subject"></input>
                                            <input type="hidden" name="TempId" value="@signup.TempId"></input>
                                            <input type="hidden" name="careGiver" value="@signup.CareGiver"></input>
                                        </form>
                                        <form method="post" asp-controller="SignUp" asp-action="DeleteSignUp" asp-route-id="@signup.TempId">
                                            <td class="text-center"><button class="btn btn-sm btn-danger">Weigeren</button></td>
                                            <input type="hidden" name="firstname" value="@signup.FirstName"></input>
                                            <input type="hidden" name="email" value="@signup.Email">
                                        </form>
                                    }
                                    else
                                    {
                                        @foreach (var child in @signup?.Children)
                                        {
                                            <td>@child.ChildFirstName @child.ChildInfix @child.ChildLastName @child.ChildUserName</td>
                                        }
                                        <form method="post" asp-controller="SignUp" asp-action="AcceptSignUpWithChildren">
                                            <td class="text-center"><button class="btn btn-sm btn-success">Accepteren</button></td>
                                            <input type="hidden" name="UserName" value="@signup.UserName"></input>
                                            <input type="hidden" name="FirstName" value="@signup.FirstName"></input>
                                            <input type="hidden" name="LastName" value="@signup.LastName"></input>
                                            <input type="hidden" name="BirthDate" value="@signup.BirthDate"></input>
                                            <input type="hidden" name="PhoneNumber" value="@signup.PhoneNumber"></input>
                                            <input type="hidden" name="Infix" value="@signup.Infix"></input>
                                            <input type="hidden" name="Email" value="@signup.Email">
                                            <input type="hidden" name="Subject" value="@signup.Subject"></input>
                                            <input type="hidden" name="TempId" value="@signup.TempId"></input>
                                            <input type="hidden" name="careGiver" value="@signup.CareGiver"></input>
                                            <input type="hidden" name="ChildFirstName"
                                            value="@signup.Children.SingleOrDefault()?.ChildFirstName"></input>
                                            <input type="hidden" name="ChildInfix"
                                            value="@signup.Children?.SingleOrDefault()?.ChildInfix"></input>
                                            <input type="hidden" name="ChildLastName"
                                             value="@signup.Children.SingleOrDefault()?.ChildLastName"></input>
                                            <input type="hidden" name="ChildUserName"
                                            value="@signup.Children.SingleOrDefault()?.ChildUserName"></input>
                                            <input type="hidden" name="ChildBirthDate" value="@signup.Children.SingleOrDefault()?.ChildBirthDate"></input>
                                            <input type="hidden" name="TempChildId" value="@signup.Children.SingleOrDefault().TempChildId"></input>

                                            
                                        </form>
                                        <form method="post" asp-controller="SignUp" asp-action="DeleteSignUp" asp-route-id="@signup.TempId">
                                            <td class="text-center"><button class="btn btn-sm btn-danger">Weigeren</button></td>
                                        </form>
                                    }
                                </tr>


                            }
                        }
                    }
                    @if (UserManager.GetUserAsync(User).Result.Subject == "Faalangst")
                    {
                        @foreach (var signup in Model)
                        {
                            @if (@signup.Subject == "Faalangst")
                            {
                                <tr>
                                    <td>@signup.FirstName</td>
                                    <td>@signup.Infix</td>
                                    <td>@signup.LastName</td>
                                    <td>@signup.Email</td>
                                    <td>@signup.PhoneNumber</td>
                                    <td>@signup.Subject</td>
                                    <td>@signup.Message</td>

                                    @if (signup.Children.SingleOrDefault() == null)
                                    {
                                        <form method="post" asp-controller="SignUp" asp-action="AcceptSignUp">
                                            <td class="text-center"><button class="btn btn-sm btn-success">Accepteren</button></td>
                                            <input type="hidden" name="UserName" value="@signup.UserName"></input>
                                            <input type="hidden" name="FirstName" value="@signup.FirstName"></input>
                                            <input type="hidden" name="LastName" value="@signup.LastName"></input>
                                            <input type="hidden" name="BirthDate" value="@signup.BirthDate"></input>
                                            <input type="hidden" name="PhoneNumber" value="@signup.PhoneNumber"></input>
                                            <input type="hidden" name="Infix" value="@signup.Infix"></input>
                                            <input type="hidden" name="Email" value="@signup.Email">
                                            <input type="hidden" name="Id" value="@signup.Id">
                                            <input type="hidden" name="TempId" value="@signup.TempId"></input>
                                            <input type="hidden" name="Subject" value="@signup.Subject"></input>
                                            <input type="hidden" name="careGiver" value="@signup.CareGiver"></input>

                                        </form>
                                        <form method="post" asp-controller="SignUp" asp-action="DeleteSignUp" asp-route-id="@signup.TempId">
                                            <td class="text-center"><button class="btn btn-sm btn-danger">Weigeren</button></td>
                                            <input type="hidden" name="firstname" value="@signup.FirstName"></input>
                                            <input type="hidden" name="email" value="@signup.Email">
                                        </form>
                                    }
                                    else
                                    {
                                        @foreach (var child in @signup?.Children)
                                        {
                                            <td>@child.ChildFirstName @child.ChildInfix @child.ChildLastName @child.ChildUserName</td>
                                        }
                                        <form method="post" asp-controller="SignUp" asp-action="AcceptSignUpWithChildren">
                                            <td class="text-center"><button class="btn btn-sm btn-success">Accepteren</button></td>
                                            <input type="hidden" name="UserName" value="@signup.UserName"></input>
                                            <input type="hidden" name="FirstName" value="@signup.FirstName"></input>
                                            <input type="hidden" name="LastName" value="@signup.LastName"></input>
                                            <input type="hidden" name="BirthDate" value="@signup.BirthDate"></input>
                                            <input type="hidden" name="PhoneNumber" value="@signup.PhoneNumber"></input>
                                            <input type="hidden" name="Infix" value="@signup.Infix"></input>
                                            <input type="hidden" name="Email" value="@signup.Email">
                                            <input type="hidden" name="Subject" value="@signup.Subject"></input>
                                            <input type="hidden" name="TempId" value="@signup.TempId"></input>
                                            <input type="hidden" name="careGiver" value="@signup.CareGiver"></input>
                                            <input type="hidden" name="ChildFirstName"
                                            value="@signup.Children.SingleOrDefault()?.ChildFirstName"></input>
                                            <input type="hidden" name="ChildInfix"
                                            value="@signup.Children?.SingleOrDefault()?.ChildInfix"></input>
                                            <input type="hidden" name="ChildLastName"
                                             value="@signup.Children.SingleOrDefault()?.ChildLastName"></input>
                                            <input type="hidden" name="ChildUserName"
                                            value="@signup.Children.SingleOrDefault()?.ChildUserName"></input>
                                            <input type="hidden" name="ChildBirthDate" value="@signup.Children.SingleOrDefault()?.ChildBirthDate"></input>
                                            <input type="hidden" name="TempChildId" value="@signup.Children.SingleOrDefault().TempChildId"></input>

                                            
                                        </form>
                                        <form method="post" asp-controller="SignUp" asp-action="DeleteSignUp" asp-route-id="@signup.TempId">
                                            <td class="text-center"><button class="btn btn-sm btn-danger">Weigeren</button></td>
                                        </form>
                                    }
                                </tr>


                            }
                        }
                    }
                    @if (UserManager.GetUserAsync(User).Result.Subject == "ASS")
                    {
                        @foreach (var signup in Model)
                        {
                            @if (@signup.Subject == "ASS")
                            {
                                <tr>
                                    <td>@signup.FirstName</td>
                                    <td>@signup.Infix</td>
                                    <td>@signup.LastName</td>
                                    <td>@signup.Email</td>
                                    <td>@signup.PhoneNumber</td>
                                    <td>@signup.Subject</td>
                                    <td>@signup.Message</td>

                                    @if (signup.Children.SingleOrDefault() == null)
                                    {
                                        <form method="post" asp-controller="SignUp" asp-action="AcceptSignUp">
                                            <td class="text-center"><button class="btn btn-sm btn-success">Accepteren</button></td>
                                            <input type="hidden" name="UserName" value="@signup.UserName"></input>
                                            <input type="hidden" name="FirstName" value="@signup.FirstName"></input>
                                            <input type="hidden" name="LastName" value="@signup.LastName"></input>
                                            <input type="hidden" name="BirthDate" value="@signup.BirthDate"></input>
                                            <input type="hidden" name="PhoneNumber" value="@signup.PhoneNumber"></input>
                                            <input type="hidden" name="Infix" value="@signup.Infix"></input>
                                            <input type="hidden" name="Email" value="@signup.Email">
                                            <input type="hidden" name="Id" value="@signup.Id">
                                            <input type="hidden" name="TempId" value="@signup.TempId"></input>
                                            <input type="hidden" name="Subject" value="@signup.Subject"></input>
                                            <input type="hidden" name="careGiver" value="@signup.CareGiver"></input>

                                        </form>
                                        <form method="post" asp-controller="SignUp" asp-action="DeleteSignUp" asp-route-id="@signup.TempId">
                                            <td class="text-center"><button class="btn btn-sm btn-danger">Weigeren</button></td>
                                            <input type="hidden" name="firstname" value="@signup.FirstName"></input>
                                            <input type="hidden" name="email" value="@signup.Email">
                                        </form>
                                    }
                                    else
                                    {
                                        @foreach (var child in @signup?.Children)
                                        {
                                            <td>@child.ChildFirstName @child.ChildInfix @child.ChildLastName @child.ChildUserName</td>
                                        }
                                        <form method="post" asp-controller="SignUp" asp-action="AcceptSignUpWithChildren">
                                            <td class="text-center"><button class="btn btn-sm btn-success">Accepteren</button></td>
                                            <input type="hidden" name="UserName" value="@signup.UserName"></input>
                                            <input type="hidden" name="FirstName" value="@signup.FirstName"></input>
                                            <input type="hidden" name="LastName" value="@signup.LastName"></input>
                                            <input type="hidden" name="BirthDate" value="@signup.BirthDate"></input>
                                            <input type="hidden" name="PhoneNumber" value="@signup.PhoneNumber"></input>
                                            <input type="hidden" name="Infix" value="@signup.Infix"></input>
                                            <input type="hidden" name="Email" value="@signup.Email">
                                            <input type="hidden" name="Subject" value="@signup.Subject"></input>
                                            <input type="hidden" name="TempId" value="@signup.TempId"></input>
                                            <input type="hidden" name="careGiver" value="@signup.CareGiver"></input>
                                            <input type="hidden" name="ChildFirstName"
                                            value="@signup.Children.SingleOrDefault()?.ChildFirstName"></input>
                                            <input type="hidden" name="ChildInfix"
                                            value="@signup.Children?.SingleOrDefault()?.ChildInfix"></input>
                                            <input type="hidden" name="ChildLastName"
                                             value="@signup.Children.SingleOrDefault()?.ChildLastName"></input>
                                            <input type="hidden" name="ChildUserName"
                                            value="@signup.Children.SingleOrDefault()?.ChildUserName"></input>
                                            <input type="hidden" name="ChildBirthDate" value="@signup.Children.SingleOrDefault()?.ChildBirthDate"></input>
                                            <input type="hidden" name="TempChildId" value="@signup.Children.SingleOrDefault().TempChildId"></input>

                                            
                                        </form>
                                        <form method="post" asp-controller="SignUp" asp-action="DeleteSignUp" asp-route-id="@signup.TempId">
                                            <td class="text-center"><button class="btn btn-sm btn-danger">Weigeren</button></td>
                                        </form>
                                    }
                                </tr>


                            }
                        }
                    }
                     @if (UserManager.GetUserAsync(User).Result.Subject == "Hoogbegaafdheid")
                    {
                        @foreach (var signup in Model)
                        {
                            @if (@signup.Subject == "Hoogbegaafdheid")
                            {
                                <tr>
                                    <td>@signup.FirstName</td>
                                    <td>@signup.Infix</td>
                                    <td>@signup.LastName</td>
                                    <td>@signup.Email</td>
                                    <td>@signup.PhoneNumber</td>
                                    <td>@signup.Subject</td>
                                    <td>@signup.Message</td>

                                    @if (signup.Children.SingleOrDefault() == null)
                                    {
                                        <form method="post" asp-controller="SignUp" asp-action="AcceptSignUp">
                                            <td class="text-center"><button class="btn btn-sm btn-success">Accepteren</button></td>
                                            <input type="hidden" name="UserName" value="@signup.UserName"></input>
                                            <input type="hidden" name="FirstName" value="@signup.FirstName"></input>
                                            <input type="hidden" name="LastName" value="@signup.LastName"></input>
                                            <input type="hidden" name="BirthDate" value="@signup.BirthDate"></input>
                                            <input type="hidden" name="PhoneNumber" value="@signup.PhoneNumber"></input>
                                            <input type="hidden" name="Infix" value="@signup.Infix"></input>
                                            <input type="hidden" name="Email" value="@signup.Email">
                                            <input type="hidden" name="Id" value="@signup.Id">
                                            <input type="hidden" name="TempId" value="@signup.TempId"></input>
                                            <input type="hidden" name="Subject" value="@signup.Subject"></input>
                                            <input type="hidden" name="careGiver" value="@signup.CareGiver"></input>

                                        </form>
                                        <form method="post" asp-controller="SignUp" asp-action="DeleteSignUp" asp-route-id="@signup.TempId">
                                            <td class="text-center"><button class="btn btn-sm btn-danger">Weigeren</button></td>
                                            <input type="hidden" name="firstname" value="@signup.FirstName"></input>
                                            <input type="hidden" name="email" value="@signup.Email">
                                        </form>
                                    }
                                    else
                                    {
                                        @foreach (var child in @signup?.Children)
                                        {
                                            <td>@child.ChildFirstName @child.ChildInfix @child.ChildLastName @child.ChildUserName</td>
                                        }
                                        <form method="post" asp-controller="SignUp" asp-action="AcceptSignUpWithChildren">
                                            <td class="text-center"><button class="btn btn-sm btn-success">Accepteren</button></td>
                                            <input type="hidden" name="UserName" value="@signup.UserName"></input>
                                            <input type="hidden" name="FirstName" value="@signup.FirstName"></input>
                                            <input type="hidden" name="LastName" value="@signup.LastName"></input>
                                            <input type="hidden" name="BirthDate" value="@signup.BirthDate"></input>
                                            <input type="hidden" name="PhoneNumber" value="@signup.PhoneNumber"></input>
                                            <input type="hidden" name="Infix" value="@signup.Infix"></input>
                                            <input type="hidden" name="Email" value="@signup.Email">
                                            <input type="hidden" name="Subject" value="@signup.Subject"></input>
                                            <input type="hidden" name="careGiver" value="@signup.CareGiver"></input>
                                            <input type="hidden" name="TempId" value="@signup.TempId"></input>
                                            <input type="hidden" name="ChildFirstName"
                                            value="@signup.Children.SingleOrDefault()?.ChildFirstName"></input>
                                            <input type="hidden" name="ChildInfix"
                                            value="@signup.Children?.SingleOrDefault()?.ChildInfix"></input>
                                            <input type="hidden" name="ChildLastName"
                                             value="@signup.Children.SingleOrDefault()?.ChildLastName"></input>
                                            <input type="hidden" name="ChildUserName"
                                            value="@signup.Children.SingleOrDefault()?.ChildUserName"></input>
                                            <input type="hidden" name="ChildBirthDate" value="@signup.Children.SingleOrDefault()?.ChildBirthDate"></input>
                                            <input type="hidden" name="TempChildId" value="@signup.Children.SingleOrDefault().TempChildId"></input>

                                            
                                        </form>
                                        <form method="post" asp-controller="SignUp" asp-action="DeleteSignUp" asp-route-id="@signup.TempId">
                                            <td class="text-center"><button class="btn btn-sm btn-danger">Weigeren</button></td>
                                        </form>
                                    }
                                </tr>


                            }
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
