@model List<Wdpr_Groep_E.Models.SignUp>;
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager
@{
    ViewData["Title"] = "Gebruikers beheren";
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>Gebruiker aanmeldingen</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <section>
                <form asp-controller="Signup" asp-action="Overview" method="get">
                    <label for="search">Zoeken:</label>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <input class="form-control" id="search" name="search" value='@ViewData["search"]' placeholder="Zoeken" />
                            </div>
                        </div>
                        <div class="col-12 col-md-auto">
                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-primary message-btn" value="Zoeken" />
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            <div class="row m-0">
                                <div class="col p-0">Voornaam</div>
                                <div class="col-auto manage-sort text-right p-0">
                                    @if ((string)ViewData["sort"] == "voornaam_oplopend")
                                    {
                                        <a asp-action="Overview" asp-route-sort="voornaam_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer voornaam aflopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Overview" asp-route-sort="voornaam_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer voornaam oplopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </th>
                        <th>Tussenvoegsel</th>
                        <th>
                            <div class="row m-0">
                                <div class="col p-0">Achternaam</div>
                                <div class="col-auto manage-sort text-right p-0">
                                    @if ((string)ViewData["sort"] == "achternaam_oplopend")
                                    {
                                        <a asp-action="Overview" asp-route-sort="achternaam_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer achternaam aflopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Overview" asp-route-sort="achternaam_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer achternaam oplopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row m-0">
                                <div class="col p-0">Email</div>
                                <div class="col-auto manage-sort text-right p-0">
                                    @if ((string)ViewData["sort"] == "email_oplopend")
                                    {
                                        <a asp-action="Overview" asp-route-sort="email_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer email aflopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Overview" asp-route-sort="email_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer email oplopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row m-0">
                                <div class="col p-0">Telefoonnummer</div>
                                <div class="col-auto manage-sort text-right p-0">
                                    @if ((string)ViewData["sort"] == "telefoon_oplopend")
                                    {
                                        <a asp-action="Overview" asp-route-sort="telefoon_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer telefoon aflopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Overview" asp-route-sort="telefoon_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer telefoon oplopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row m-0">
                                <div class="col p-0">Onderwerp</div>
                                <div class="col-auto manage-sort text-right p-0">
                                    @if ((string)ViewData["sort"] == "onderwerp_oplopend")
                                    {
                                        <a asp-action="Overview" asp-route-sort="onderwerp_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer onderwerp aflopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Overview" asp-route-sort="onderwerp_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer onderwerp oplopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </th>
                        <th>Bericht</th>
                        <th>
                            <div class="row m-0">
                                <div class="col p-0">Kind</div>
                                <div class="col-auto manage-sort text-right p-0">
                                    @if ((string)ViewData["sort"] == "kind_oplopend")
                                    {
                                        <a asp-action="Overview" asp-route-sort="kind_aflopend" asp-route-search='@ViewData["search"]' title="Sorteer kind aflopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_downward</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Overview" asp-route-sort="kind_oplopend" asp-route-search='@ViewData["search"]' title="Sorteer kind oplopend">
                                            <span class="material-icons-round" aria-hidden="true">arrow_upward</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </th>
                        <th>Goedkeuren</th>
                        <th>Weigeren</th>
                    </tr>
                </thead>
                <tbody>
                    @if (UserManager.GetUserAsync(User).Result.Subject == "ADD")
                    {
                        <partial name="Subjects/_Add"></partial>
                    }
                    @if (UserManager.GetUserAsync(User).Result.Subject == "ASS")
                    {
                        <partial name="Subjects/_Ass"></partial>
                    }
                    @if (UserManager.GetUserAsync(User).Result.Subject == "Faalangst")
                    {
                        <partial name="Subjects/_Faalangst"></partial>
                    }
                    @if (UserManager.GetUserAsync(User).Result.Subject == "Hoogbegaafdheid")
                    {
                        <partial name="Subjects/_Hoogbegaafdheid"></partial>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row manage-options">
        @if ((int)ViewData["size"] != 10)
        {
            <div class="col-1 d-flex justify-content-center">
                <a asp-action="Overview" asp-route-page='1' asp-route-size='10' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>10</a>
            </div>
        }
        @if ((int)ViewData["size"] == 10)
        {
            <div class="col-1 d-flex justify-content-center">
                <a style="opacity: .5; pointer-events: none;" asp-action="Overview" asp-route-page='1' asp-route-size='10' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>10</a>
            </div>
        }
        @if ((int)ViewData["size"] != 25)
        {
            <div class="col-1 d-flex justify-content-center">
                <a asp-action="Overview" asp-route-page='1' asp-route-size='25' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>25</a>
            </div>
        }
        @if ((int)ViewData["size"] == 25)
        {
            <div class="col-1 d-flex justify-content-center">
                <a style="opacity: .5; pointer-events: none;" asp-action="Overview" asp-route-page='1' asp-route-size='25' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>25</a>
            </div>
        }
        @if ((int)ViewData["size"] != 50)
        {
            <div class="col-1 d-flex justify-content-center">
                <a asp-action="Overview" asp-route-page='1' asp-route-size='50' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>50</a>
            </div>
        }
        @if ((int)ViewData["size"] == 50)
        {
            <div class="col-1 d-flex justify-content-center">
                <a style="opacity: .5; pointer-events: none;" asp-action="Overview" asp-route-page='1' asp-route-size='50' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>50</a>
            </div>
        }
        <div class="col-5"></div>
        <div class="col-2 d-flex justify-content-center">
            @if ((bool)ViewData["previous"])
            {
                <a asp-action="Overview" asp-route-page='@((int)ViewData["page"] - 1)' asp-route-size='@ViewData["size"]' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>← Terug</a>
            }
        </div>
        <div class="col-2 d-flex justify-content-center">
            @if ((bool)ViewData["next"])
            {
                <a asp-action="Overview" asp-route-page='@((int)ViewData["page"] + 1)' asp-route-size='@ViewData["size"]' asp-route-sort='@ViewData["sort"]' asp-route-search='@ViewData["search"]'>Volgende →</a>
            }
        </div>
    </div>
</div>
