@model Chat
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = Model.Name;
}
<div class="container pt-3">
    <div class="row">
        <div class="col">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            @* <ul id="messagesList"></ul> *@
            @foreach (var message in Model.Messages)
            {
                @if (message.Name == UserManager.GetUserName(User))
                {
                    <div class="text-right">
                        <strong>@message.Name</strong> <span>@message.Time.Hour</span>:<span>@message.Time.Minute</span>
                        <p>@message.Text</p>
                    </div>
                }
                else
                {
                    <div>
                        <strong>@message.Name</strong> <span>@message.Time.Hour</span>:<span>@message.Time.Minute</span>
                        <p>@message.Text</p>
                    </div>
                }

            }
        </div>
    </div>
</div>
<div class="message-row">
    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col">
                <form asp-controller="Chat" asp-action="SendMessage">
                    <div class="form-row">
                        <input type="hidden" name="chatId" value="@Model.Id" />
                        <input type="hidden" name="userName" value="@UserManager.GetUserName(User)" />
                        <div class="col">
                            <div class="form-group">
                                <label for="text">Bericht:</label><span class="required"> *</span>
                                <input type="text" class="form-control" id="text" name="text" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary lg-btn" value="Bericht verzenden" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
