@model Client
@{
    ViewData["Title"] = "Cliënt gegevens";
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row mb-3">
        <div class="col">
            <a class="btn btn-primary lg-btn btn-no-extend d-flex align-items-center justify-content-center" asp-controller="Client" asp-action="Index">
                <span class="material-icons-round" aria-hidden="true">arrow_back</span>Terug
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>BSN</th>
                        <th>Volledige naam</th>
                        <th>Geboortedatum</th>
                        <th>IBAN</th>
                    </tr>
                </thead>
                <tbody>
                    <td>@Model.clientid</td>
                    <td>@Model.BSN</td>
                    <td>@Model.volledigenaam</td>
                    <td>@Model.gebdatum</td>
                    <td>@Model.IBAN</td>
                </tbody>
            </table>
        </div>
    </div>
</div>
