@model IEnumerable<Chat>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Zelfhulpgroepen beheren";
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Chat</th>
                        <th>Kind</th>
                        <th>Orthopedagoog</th>
                        <th>Aantal berichten</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var chat in Model)
                    {
                        @foreach (var chatUser in chat.Users)
                        {
                            if (chatUser.User.Parent != null)
                            {
                                @if (chatUser.User.Parent.Id == User.FindFirst(ClaimTypes.NameIdentifier).Value)
                                {
                                    <tr>
                                        <td>@chat.Name</td>
                                        <td>@chatUser.User.UserName</td>
                                        <td>@UserManager.FindByIdAsync(chatUser.User.Caregiver).Result.UserName</td>
                                        <td>@chat.Messages.Count()</td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
