@model IEnumerable<Chat>
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

@{
    if (User.IsInRole("Moderator"))
    {
        ViewData["Title"] = "Zelfhulpgroepen beheren";
    }
    else
    {
        ViewData["Title"] = "Beschikbare zelfhulpgroepen";
    }
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <section>
                <form asp-controller="ChatSystem" asp-action="Index" method="get">
                    <label for="search">Zoeken:</label>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <input class="form-control" id="search" name="search" placeholder="Zoeken" />
                            </div>
                        </div>
                        <div class="col-12 col-md-auto">
                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-primary message-btn" value="Zoeken" />
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Chatnaam</th>
                        <th>Onderwerp</th>
                        <th>Deelnemers</th>
                        <th>Leeftijdscategorie</th>
                        @if (User.IsInRole("Tiener") || User.IsInRole("Kind"))
                        {
                            <th>Deelnemen</th>
                        }
                        @if (User.IsInRole("Moderator"))
                        {
                            <th>Gebruikers</th>
                            <th>Verwijder</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var chat in Model)
                    {
                        <tr>
                            <td>@chat.Name</td>
                            <td>@chat.Subject</td>
                            <td>@chat.Users.Count()</td>
                            <td>@chat.AgeGroup</td>
                            @if (User.IsInRole("Tiener") || User.IsInRole("Kind"))
                            {
                                <td class="text-center">
                                    <form asp-controller="ChatSystem" asp-action="JoinRoom" asp-route-id="@chat.Id" method="get">
                                        <button class="btn btn-sm btn-primary">Deelnemen</button>
                                    </form>
                                </td>
                            }
                            @if (User.IsInRole("Moderator"))
                            {
                                <td class="text-center">
                                    <form asp-controller="ChatSystem" asp-action="Users" asp-route-id="@chat.Id">
                                        <button class="btn btn-sm btn-info">Gebruikers</button>
                                    </form>
                                </td>
                                <td class="text-center">
                                    <form asp-controller="ChatSystem" asp-action="DeleteChat" asp-route-id="@chat.Id">
                                        <button class="btn btn-sm btn-danger">Verwijder</button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (User.IsInRole("Orthopedagoog"))
    {
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary lg-btn" type="button" data-toggle="modal" data-target="#NewRoom">Nieuwe zelfhulpgroep</button>
            </div>
        </div>
    }
</div>

<partial name="../Shared/Modals/CreateRoomModal" />
