@model IEnumerable<ChatUser>
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@{
    ViewData["Chatname"] = @Model.First().Chat.Name;
    ViewData["Title"] = "Gebruikers in chat: " + @Model.First().Chat.Name;
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row mb-3">
        <div class="col">
            <a class="btn btn-primary lg-btn btn-no-extend d-flex align-items-center justify-content-center" asp-controller="ChatSystem" asp-action="Index">
                <span class="material-icons-round" aria-hidden="true">arrow_back</span>Terug
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Aantal Berichten</th>
                        @if (User.IsInRole("Moderator"))
                        {
                            <th>Deblokkeren</th>
                            <th>Blokkeren</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        @if (!UserManager.IsInRoleAsync(user.User, "Orthopedagoog").Result)
                        {
                            <tr>
                                <td>@user.User.UserName</td>
                                <td>@user.Chat.Messages.Where(m => m.Name == user.User.UserName).Count()</td>
                                @if (User.IsInRole("Moderator"))
                                {
                                    @if (user.IsBlocked)
                                    {
                                        <td class="text-center shrink">
                                            <form asp-controller="ChatSystem" asp-action="UnblockUser" asp-route-id="@user.User.Id" method="post">
                                                <input type="hidden" name="chat" value="@user.ChatId" />
                                                <button class="btn btn-sm btn-success">Deblokkeren</button>
                                            </form>
                                        </td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td class="text-center shrink">
                                            <form asp-controller="ChatSystem" asp-action="BlockUser" asp-route-id="@user.User.Id" method="post">
                                                <input type="hidden" name="chat" value="@user.ChatId" />
                                                <button class="btn btn-sm btn-danger">Blokkeren</button>
                                            </form>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                        else
                        {
                            <tr class="disabled">
                                <td>@user.User.UserName</td>
                                <td>@user.Chat.Messages.Where(m => m.Name == user.User.UserName).Count()</td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
