@model Referral
@{
    ViewData["Title"] = "Dossier Overzicht";
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered mt-3">
                <thead>
                    <tr>
                        <th>BSN</th>
                        <th>Naam</th>
                        <th>Geboortedatum</th>
                        <th>Woonplaats</th>
                        <th>Postcode</th>
                        <th>Verzekering</th>
                        <th>Reden</th>
                    </tr>
                </thead>
                <tbody>
                    <td>@Model.naw.bsn</td>
                    <td>@Model.naw.naam</td>
                    <td>@Model.naw.geboorteDatum</td>
                    <td>@Model.naw.woonplaats</td>
                    <td>@Model.naw.postcode</td>
                    <td>@Model.verzekering</td>
                    <td>@Model.redenVanVerwijzing</td>
                </tbody>
            </table>
        </div>
    </div>
</div>
